<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span id="deter_topology_chart_title">
                <b> {{ agent.display }} </b>
            </span>
            <div class="pull-right">
                <div class="btn-group" id="panel_btn_grp"></div>
            </div>
        </div>
        <div class="panel-body" id="deter_topology" style="max-height: 600px; min-height: 600px"></div>
    </div>
</div>
<script>
    var subtitle = " {{agent.display}} ({{agent.table}})"
    deterdash.set_title(".content-header", "fa-sitemap", "Network Graphs", subtitle)
    if ("{{agent.display}}" == "Routing") { // GTL - this is very bad.
        var route_topo = deterdash.route_topology(
            "{{ agent.table }}",
            "#deter_topology",
            "#deter_topology_chart_title",
            "#panel_btn_grp"
        )
    } else {
        var topology = deterdash.generate_topology(
            "{{ agent.table }}",
            "#deter_topology",
            "#deter_topology_chart_title",
            "#panel_btn_grp"
        )
    }
</script>
