{% extends "dashboard.html" %}
{% block metric_title %}
<h1 class="page-header"><i class="fa fa-bar-chart-o fa-fw"></i>{{ agent.display }}</h1>
{% endblock %}

{% block content %}
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span id="deter_topology_chart_title">
                <b> {{ agent.display }} </b>
            </span>
            <div class="pull-right">
                <div class="btn-group">
                    <button type="button" id="disp_route_button" class="btn btn-default btn-xs disabled">
                        Display Route
                    </button>
                    <button type="button" id="clear_route_button" class="btn btn-default btn-xs dropdown-toggle disbaled" data-toggle="dropdown">
                        Clear Routes
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right clear_routes_dropdown" role="menu">
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel-body" id="deter_topology" style="max-height: 600px; min-height: 600px">
            <div id="message_area"></div>
        </div>
    </div>
</div>
<!-- selected node info -->
<div class="container-fluid">
    <div class="row" id="node_panels">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/horizon_chart.css') }}"></link>
    </div>
</div>
<script>
    var subtitle = " {{agent.display}} ({{agent.table}})"
    deterdash.set_title(".content-header", "fa-sitemap", "Network Graphs", subtitle)
    var route_topo = deterdash.route_topology(
        "{{ agent.table }}",
        "#deter_topology",
        "#node_panels",
        ".clear_routes_dropdown",
        "#clear_route_button",
        "#disp_route_button",
        "#deter_topology_chart_title"
    )
</script>
{% endblock %}
