<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span id="chart_title"> <b> {{ agent.display }} </b> </span>
            <div class="pull-right">
                <span>
                    <div class="btn-group" id="panel_btn_grp"></div>
                </span>
            </div>
        </div>
        <div class="panel-body">
            <div class="panel-body" id="time_plots_id"></div> 
        </div>
    </div>
</div>
<script type="text/javascript">
    var subtitle = "  {{agent.display}} ({{agent.table}})"
    deterdash.set_title(".content-header", "fa-clock-o", "Time Plots", subtitle)
    var time_plots = deterdash.spawn_time_plot(
            {{ agent|tojson }},         // using jinja2 tojson filter to convert to json.
            "#time_plots_id",
            "#chart_title",
            "#panel_btn_grp"); 
</script>

