{% extends "dashboard.html" %}

{% block metric_title %}
<h1 class="page-header"><i class="fa fa-bar-chart-o fa-fw"></i>{{ agent.display }} - {{ agent.table }}</h1>
{% endblock %}

{% block content %}
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span id="chart_title">
                <b>{{ agent.units[0].display|title }} ({{ agent.units[0].unit }})</b>
            </span>
            <div class="pull-right">
                <span>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            Chart Units
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            {% for unit in agent.units %}
                            <li>
                                <a href="#" id="units_{{ unit.data_key }}">{{ unit.display|title }}</a>
                            </li>
                            {% endfor %}
                            <li>
                                <a href="#" id="units_random">Random</a>
                            </li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            Sort By
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a href="#" class="time_plot_sort_name_ascend">Node Name Ascending</a> </li>
                            <li><a href="#" class="time_plot_sort_name_descend">Node Name Descending</a> </li>
                        </ul>
                    </div>
                </span>
            </div>
        </div>
        <!-- /.panel-heading -->
        <!-- /.panel-body -->
        <div class="panel-body">
            <div class="panel-body" id="time_plots_id"></div> 
            <script type="text/javascript">
                var time_plots = deterdash.spawn_time_plot(
                        "time_plots_id",
                        "{{ agent.units[0].data_key }}",
                        "{{ agent.table }}",
                        "{{ agent.datatype }}"); 
                </script>
            </div> <!-- /#time_plots_id -->
        </div>
        <!-- /.panel-body -->
    </div>
</div>
<!-- /.col-lg-4 -->
{% endblock %}

